CLOUDINARY_CLOUD_NAME="dlwqiyw3z"
CLOUDINARY_KEY=317975166546167
CLOUDINARY_SECRET="CM_bAAhDYsbQD9BZs5E9UL7q8V8"
COOKIE_SECRET="PLEASE CHANGE ME OH PLEASE CHANGE ME"
DATABASE_URL=mongodb+srv://sick:z5LtfpBt73FRshG@sickcluster.gqu5p.mongodb.net/sickfits?retryWrites=true&w=majority
STRIPE_SECRET="sk_test_nahhhh"
MAIL_HOST="smtp.ethereal.email"
MAIL_PORT=587
MAIL_USER="get-one-from- http://ethereal.email"
MAIL_PASS="get-one-from- http://ethereal.email"
FRONTEND_URL="http://localhost:7777"
